*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: all .5s;
}

/*NavBar*/

nav {
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--color-tertiary)25%, var(--color-primary)75%, #00000000);
    transition: all .5s;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li:hover {
    background-color: var(--color-second);
    color: var(--color-background);
}


table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #333; /* Estilo de borda para Arch users (dark) */
  padding: 12px;
  text-align: left;
}

/**/

input {
    margin: 20px;
}

button {
    width: 30px;
    height: 100%;
}

.errado {
    color: var(--color-error);
}

.certo {
    color: var(--color-correct);
}

h2 {
    font-size: clamp(10vw,40px,40vh);
}

/**/

.busca-container {
    position: relative;
    width: 300px;
}

.lista-custom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background: #1e1e1e;
    border: 1px solid #1793d1;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 999;
}

.lista-custom li {
    padding: 10px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.lista-custom li:hover {
    background: #1793d1;
}

header {
    padding: 20px;
}

.images img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid ;
}

@media (max-width: 600px) {
    /* Faz a tabela, o cabeçalho e o corpo ocuparem a largura total */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Esconde o cabeçalho original (opcional, mas limpa o visual) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 15px;
        border: 1px solid #1793d1; /* Cor do Arch */
    }

    td {
        /* Faz a célula se comportar como uma linha comum */
        position: relative;
        padding-left: 50%; 
        text-align: right;
    }

    /* Adiciona o nome da coluna antes do valor usando data-attributes */
    td::before {
        content: attr(data-label); /* Pega o nome da coluna */
        position: absolute;
        left: 10px;
        width: 45%;
        text-align: left;
        font-weight: bold;
    }
}